<div class="wrap-hd clearfix">
    <div class="title-bar">
        <h2 class="title">文章列表</h2>
    </div>
</div>
<div class="table-container">
    <div class="toolbar clearfix">
        <div bx-name="dropdown" style="width:150px;" class="dropdown" hidefocus="true" id="J_type_dropdown">
            {{#typeList}}
                {{#selected}}
                <span class="dropdown-hd">
                    <span class="dropdown-text" value="{{typeId}}">{{typeName}}</span>
                    <i class="iconfont icon-arrow-down">&#459</i>
                </span>
                {{/selected}}
            {{/typeList}}
            <ul class="dropdown-list">
                {{#typeList}}
                <li class="dropdown-item {{#selected}}dropdown-itemselected{{/selected}}"><span value="{{typeId}}">{{typeName}}</span><i class="iconfont icon-ok">&#126</i></li>
                {{/typeList}}
            </ul>
        </div>

        <a href="#!/manage/article/add" class="btn btn-xsmall">新增文章</a>
    </div>
    <table class="table" bx-name="tables" bx-tmpl="list" bx-datakey="list">
        <thead>
            <tr {{^list}}class="no-data"{{/list}}>
                <th class="left">文章名称</th>
                <th class="left" width="120">发布时间</th>
                <th class="left" width="100">点击数</th>
                <th class="center" width="100">操作</th>
            </tr>
        </thead>
        <tbody>
            {{#list}}
            <tr>
                <td class="left"><a href="#!/pages/{{type}}/article_detail?id={{_id}}">{{title}}</a></td>
                <td class="left">{{publishDate}}</td>
                <td class="left">{{pv}}</td>
                <td class="center">
                    <a href="#/manage/article/edit?id={{_id}}" class="color-blue">编辑</a>
                    <a href="#" mx-click="del{id:{{_id}}}" class="color-blue">删除</a>
                </td>
            </tr>
            {{/list}}
            {{^list}}
            <tr class="none">
                <td colspan="4">
                    暂无数据
                </td>
            </tr>
            {{/list}}
        </tbody>
    </table>
</div>