<h2 class="h2-ex">图片上传</h2>

<div class="pic-upload-cnt">
    <ul class="clearfix" bx-tmpl="pics" bx-datakey="pics">
        {{#pics}}
        <li>
            <div class="pic-cnt">
                <img src="{{filePath}}" />
            </div>
            <div class="meta">
                <div class="progress progress{{__index__}}"></div>
                {{fileSize}}
            </div>
        </li>
        {{/pics}}
    </ul>
    <div class="pic-upload-input">
        <input type="file" name="upload" id="J_upload" multiple="multiple" mx-change="fileChange" />
    </div>
</div>

<p>
    <a href="javascript:;" class="btn btn-small mr10" mx-click="upload">上传</a> 
    <a href="javascript:;" mx-click="cancel">取消</a>
</p>