<div class="wrap-hd clearfix">
    <div class="title-bar">
        <h2 class="title">图片列表</h2>
    </div>
</div>
<div class="table-container">
    <div class="toolbar clearfix">
        <a href="#" class="btn btn-xsmall" mx-click="add">上传图片</a>
        <div class="table-settings">
            <a class="btn btn-xsmall" id="J_calendar" href="#" bx-tmpl="calendar" bx-datakey="startTime,endTime"> {{startTime}} 至  {{endTime}} </a>
        </div>
    </div>
    <table class="table pic-list" bx-name="tables" bx-tmpl="list" bx-datakey="list,pathPrefix">
        <thead>
            <tr {{^list}}class="no-data"{{/list}}>
                <th class="left" width="120">图片预览</th>
                <th class="left">图片地址</th>
                <th class="left" width="100">图片尺寸</th>
                <th class="left" width="100">上传时间</th>
            </tr>
        </thead>
        <tbody>
            {{#list}}
            <tr>
                <td class="left">
                    <div class="pic-cnt">
                        <a href="{{picPath}}" target="_blank"><img src="{{picPath}}!120" /></a>
                    </div>
                </td>
                <td class="left">
                    <textarea class="textarea" onclick="select()">{{picPath}}</textarea>
                </td>
                <td class="left">{{picSize}}</td>
                <td class="left">{{uploadTime}}</td>
            </tr>
            {{/list}}
            {{^list}}
            <tr class="none">
                <td colspan="4">
                    暂无数据
                </td>
            </tr>
            {{/list}}
        </tbody>
    </table>
</div>