extends layout

block assets
  link(rel='stylesheet', href='http://g.tbcdn.cn/thx/cube/1.2.1/cube-min.css')
  link(rel='stylesheet', href='#{config.staticCDN}/css/style-min.css')

block content
  div.status-404
    img(src="")