<!DOCTYPE html> 
<html> 
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="<%= config.description %>">
        <title><%= config.name %></title>
        <link rel="stylesheet" href="http://a.tbcdn.cn/apps/e/brix/2.0/brix-min.css">
        <link rel="stylesheet" type="text/css" href="http://a.tbcdn.cn/apps/e/brix/2.0/gallery/??tables/index-min.css,dropdown/index-min.css,calendar/index-min.css,pagination/index-min.css,dialog/index-min.css,tooltip/index-min.css,form/index-min.css">
        <link rel="stylesheet" href="<%= config.staticCDN %>/assets/css/markdown.css">
        <link rel="stylesheet" href="<%= config.staticCDN %>/assets/css/style.css">
        <link rel="stylesheet" href="http://lab.lepture.com/editor/editor.css" />
        <link rel="stylesheet" href="<%= config.staticCDN %>/app/components/code_prettify_lib/prettify.css">
        <script type="text/javascript" src="http://a.tbcdn.cn/s/kissy/1.3.0/kissy.js"></script>
        <script type="text/javascript" src="http://a.tbcdn.cn/apps/e/brix/2.0/brix.js" bx-config="{autoConfig:true,componentsPath:'<%= config.staticCDN %>/app/'}"></script>
        <script type="text/javascript" src="http://a.tbcdn.cn/apps/e/magix/1.1/kissy-magix-mxext.js"></script>
        <script type="text/javascript" src="<%= config.staticCDN %>/app/components/code_prettify_lib/prettify.js"></script>
        <script type="text/javascript" src="http://lab.lepture.com/editor/editor.js"></script>
    </head>
    <body></body>
    <script type="text/javascript" src="<%= config.staticCDN %>/boot/index.js" boot-config="{debug:true, tbcdn:'<%= config.staticCDN %>'}"></script>
</html>
