doctype html
html
  head
    meta(charset='utf-8')
    title KIWI BLOG
    meta(name='description', content='KIWI BLOG')
    meta(name='keywords', content='KIWI BLOG')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    block assets
      
  body
    block content