a {
    text-decoration: none;
    color: #454545;
}
a:hover {
    text-decoration: none;
    color: #00A8FF;
    transition: color .15s linear ,background-color .2s linear;
    -webkit-transition: color .15s linear , background-color .2s linear;
}
body{
    background-color: #e9edf0;
    min-width:1024px;
}

.box {
    margin-bottom: 20px;
}
.box .hd {
    position: relative;
}
.box .hd .title {
    font-weight: normal;
}
.box .hd .extra {
    position: absolute;
    top: 0;
    right: 0;
}
.box .bd {
    margin-top: 10px;
}

/* 基本表单*/
.union-form .field-select{
    border:1px solid #909090;
    height:24px;/* fixed chrome\IE8\IE9 高度bug */
    margin:0;
    padding:2px;
    vertical-align:middle;
}
.union-form .textarea{
    height:80px;
    width:400px;
    padding:4px;
    overflow:auto;
}
.union-form .input,
.union-form .dropdown{
    margin-top: -3px;
}
.union-form .field-label{
    height: 25px;
    width: 60px;
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
}
.union-form .field-label2{
    margin-bottom: 5px;
}
.union-form .field{
    color: #505050;
    margin-bottom: 30px;
    position: relative;
    padding-left: 65px;
    zoom: 1;
}
.union-form .field:after{
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}
.union-form .field-extra{
    padding-left: 0;
}
.union-form .ux-valid {
    margin-top:5px;
}


/* 提示*/
.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #C09853;
}
/* 按钮*/
.button-l {
    border-radius: 2px;
    border: 1px solid #e1e1e1;
    background: #eaeaea;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 15px;
}
.button-m {
    border-radius: 2px;
    border: 1px solid #e1e1e1;
    background: #eaeaea;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 15px;
}
.button-s {
    border-radius: 2px;
    border: 1px solid #e1e1e1;
    background: #eaeaea;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 15px;
}
.blank {
    padding-right: 1em;
}
#header {
    background-color: #000;
    background-image: url(/img/noisy-black.jpg);
    background-repeat: repeat-x;
}
#header .header-bd {
    height: 70px;
    width: 1000px;
    margin: 0 auto;
}
#header .title {
    float: left;
    font-size: 30px;
    margin-top: 13px;
}
#header .title a {
    color: #fff;
    padding-left: 45px;
    background-image: url(/img/logo.png);
    background-repeat: no-repeat;
}
#header .login-info {
    float: right;
    color: #eee;
    background: #444;
    padding: 5px 10px;
    border-radius: 0px 0px 2px 2px;
}
#header .login-info a {
    color: #eee;
}
#content {
    background: #f8fafa;
    color: #454545;
    width: 1000px;
    margin: 20px auto;
}
#content .main {
    background-color: #fff;
    float: left;
    min-height: 500px;
    width: 720px;
    padding: 20px;
}
#content .side {
    float: left;
    width: 200px;
    padding: 20px;
}
/* 侧边栏*/
.side a:hover {
    color: #08C;
}
.side .box .title {
    line-height: 24px;
    font-weight: bold;
    font-size: 14px;
}
.side .recent li {
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.side .archives li {
    margin-bottom: 5px;
}
.side .tag li {
    float: left;
    padding: 0 2px;
}
.side .tag li a {
    float: left;
    padding: 2px 4px;
}
.side .tag li a:hover {
    background-color: #00A8FF;
    color: #fff;
}

/* 文章列表*/
.article-list {
}
.article-list .list-item {
    border-bottom: 1px solid #ecedef;
    padding-bottom: 50px;
    margin-bottom: 30px;
    position: relative;
}
.article-list .list-item .hd {
    position: relative;
}
.article-list .list-item .title {
    font-size: 4em;
    font-weight: bold;
}
.article-list .list-item .meta {
    margin-top: 5px;
}
.article-list .list-item .meta span,
.article-list .list-item .meta a{
    color: #bc360a;
    margin-right: 10px;
}
.article-list .list-item .meta .iconfont{
    font-size: 12px;
}

.article-list .list-item .bd {
    margin-top: 40px;
    line-height: 1.8;
}
.article-list .list-item .ft {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 720px;
}
.article-list .list-item .ft .tag {
    font: left;
    padding: 4px;
    border-radius: 2px;
    background: #eee;
    color: #898989;
}
.article-list .list-item .ft .edit {
    float: right;
}
.article-list .list-item .ft .edit a {
    color: #ccc;
    margin: 0 3px;
}
/* 文章详情*/
.article-detail {
}
.article-detail .hd {
    position: relative;
}
.article-detail .hd .title {
    font-size: 4em;
    font-weight: bold;
}
.article-detail .hd .meta {
    margin-top: 5px;
}
.article-detail .hd .meta span,
.article-detail .hd .meta a{
    color: #bc360a;
    margin-right: 10px;
}
.article-detail .hd .meta .iconfont{
    font-size: 12px;
}
.article-detail .bd {
    margin-top: 40px;
    line-height: 1.8;
}
/* 文章编辑*/
.article-edit {
    padding: 10px;
}
.article-edit .hd {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.article-edit .hd .title {
    font-size: 18px;
}
.article-edit .input {
    width: 970px;
    padding: 8px 4px;
}
.article-edit .textarea {
    width: 970px;
    height: 700px;
}
.article-edit .field{
    padding-left: 0;
}
.article-edit .field-label2 {
    font-size: 14px;
}
.article-edit .tags li {
    float: left;
    padding: 5px 10px;
    background: #eee;
    margin: 0 10px 10px 0;
    cursor: pointer;
    border-radius: 2px;
}
.article-edit .tags .selected {
    background: #00A8FF;
    color: #FFF;
}
/* 登录*/
.signin {
    padding: 10px;
}
.signin .hd {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.signin .hd .title {
    font-size: 14px;
}
#footer {
    border-top: 1px solid #efefef;
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
}
#footer a {
    margin: 0 10px;
}
