<div id="header">
    <div class="header-bd">
        <h1 class="title"><a href="/">Kiwi's Blog</a></h1>
    </div>
    <ul class="site-nav clearfix">
        <li><a href="#!/pages/kiwiobject/article_list">Software</a></li>
        <li><a href="#!/pages/discovery/article_list">Discovery</a></li>
        <li><a href="#!/pages/life/article_list">Life</a></li>
        <li><a href="#!/pages/about/about">About</a></li>
        <li><a href="#!/pages/tags/tags">Tags</a></li>
        <li><a href="#!/pages/archive/archive">Archive</a></li>
    </ul>
</div>