<ul class="article-list" bx-name="code_prettify" bx-path="components/code_prettify/">
    {{#list}}
    <li class="list-item">
        <div class="hd">
            <h3 class="title">
                <a href="#!/pages/f2e/article_detail?id={{_id}}">{{title}}</a>
            </h3>
            <div class="meta">
                <span class="date">{{publishDate}}</span>
                <span class="divide"></span>
                <a class="tag" href="#!/pages/tags/tags?tag={{tag}}">{{tag}}</a>
            </div>
        </div>
        <div class="bd markdown-body">
            {{{content}}}
        </div>
        <div class="ft">
            <a href="#!/pages/f2e/article_detail?id={{_id}}" class="continue-reading">Read more →</a>
        </div>
    </li>
    {{/list}}
    {{^list}}
    <li class="no-data">
        嗯，什么都还没写~
    </li>
    {{/list}}
</ul>